<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
   <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mandi-news-5a86b.appspot.com/o/css%2Fheader.css?alt=media&token=29997d95-68df-4bc7-9088-fb76913292c3">
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mandi-news-5a86b.appspot.com/o/css%2Fadd.css?alt=media&token=4e09f028-c178-4587-92db-b4b29b05c596">
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mandi-news-5a86b.appspot.com/o/css%2Fabout.css?alt=media&token=42700f73-ec16-4dcf-84bf-f2124944e30c">
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mandi-news-5a86b.appspot.com/o/css%2Ffooter.css?alt=media&token=40758826-7e5a-42e4-94a3-19f9658b7dd0">
     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    {{>header}}
    {{>adsence}}
    <div class="container">
        <div class="abouth"> <h1>About the mandi khabar -</h1></div>
        <div class=" vision">
            <h2>Our vision</h2>
            <P>Mandi Khabar website has been started with the aim of helping farmers and voluntary organizations.
                Through this website, we show the price of all the crops so that farmers can take maximum benefit in
                agriculture and increase productivity by adopting modern methods.</P>
        </div>
        <div class="mission">
            <h2>Our mission</h2>
            <p>Our goal is to reach all those citizens who are living or want to make their living through agriculture
                or agriculture related work.</p>
        </div>
    </div>
{{>footer}}
</body>

</html>