<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="../css/add.css">
</head>

<body>
    <div class="container">
        <form action="/list/add" method="post">
            <table id="table" border="1">
                <tr id="tableheading">
                    <th>Crop (फसल)
                    </th>
                    <th>Price( कीमत)
                    </th>
                    <th>Unit(इकाई)
                    </th>
                </tr>
               
                <tr class="tomoto">
                    <td id="tomoto">Tomato (टमाटर )</td>
                    <td><input type="text" value="{{tablemodel.tomatoprice}}" name="tomatoprice"></td>
                    <td><input type="text" value="{{tablemodel.tomatounit}}" name="tomatounit"></td>


                </tr>
                
                <tr class="onion">
                    <td id="onion"> Onion (प्याज)</td>
                    <td><input value="" name="onionprice"></td>
                    <td><input value="" name="onionunit"></td>


                </tr>
                <tr class="turnip">
                    <td id="turnip">Turnip ( शलजम )</td>
                    <td><input value="" name="turnipprice"></td>
                    <td><input value="" name="turnipunit"></td>


                </tr>
                <tr class=" turmerc">
                    <td id="turmeric">Turmeric (हल्दी )</td>
                    <td><input value="" name="turmericprice"></td>
                    <td><input value="" name="turmericunit"></td>


                </tr>
                <tr class="sweetpotato">
                    <td id="sweetpotato">Sweet Potato(शकरकंद )</td>
                    <td><input value="" name="sweetpotatoprice"></td>
                    <td><input value="" name="sweetpotatounit"></td>


                </tr>
                <tr class="potato">
                    <td id="yellowpotato">Yellow potato पीला आलू</td>




                    <td><input value="" name="yellowpotatoprice"></td>
                    <td><input value="" name="yellowpotatounit"></td>


                </tr>
                <tr class="potato">
                    <td id="whitepotato">White potato सफेद आलू</td>
                    <td><input value="" name="whitepotatoprice"></td>
                    <td><input value="" name="whitepotatounit"></td>


                </tr>
                <tr class="potato">
                    <td id="redpotato">Red potato लाल आलू</td>
                    <td><input value="" name="redpotatoprice"></td>
                    <td><input value="" name="redpotatounit"></td>


                </tr>
                <tr class=" springonion">
                    <td id="springonion"> Spring Onion(हरा प्याज, गंठा)</td>
                    <td><input value="" name="springonionprice"></td>
                    <td><input value="" name="springonionunit"></td>


                </tr>
                <tr class="spinch">
                    <td id="spinch">Spinach (पालक )</td>
                    <td><input value="" name="spinchprice"></td>
                    <td><input value="" name="spinchunit"></td>


                </tr>
                <tr class="pumpkin">
                    <td id="pumpkin"> Pumpkin (घिया, कद्दू )</td>
                    <td><input value="" name="pumkinprice"></td>
                    <td><input value="" name="pumpkinunit"></td>


                </tr>
                <tr class="garlic">
                    <td id "garlic">Garlic (लहशुन)</td>
                    <td><input value="" name="garlicprice"></td>
                    <td><input value="" name="garlicunit"></td>


                </tr>
                <tr class="fenugreekleaf">
                    <td id="fenugeekleaf">Fenugreek Leaf (हरी मेथी)</td>
                    <td><input value="" name="fenugreekprice"></td>
                    <td><input value="" name="fenugreekunit"></td>


                </tr>
                <tr class="ginger">
                    <td id="ginger"> Ginger ( अदरक)</td>
                    <td><input value="" name="gingerprice"></td>
                    <td><input value="" name="gingerunit"></td>


                </tr>
                <tr class="greenchilli">
                    <td class="greenchilli"> Green Chilli ( हरी मिर्च)</td>
                    <td><input value="" name="greenchilliprice"></td>
                    <td><input value="" name="greenchilliunit"></td>


                </tr>
                <tr class=" radish">
                    <td id="radish">Radish (मूली)</td>
                    <td><input value="" name="radishprice"></td>
                    <td><input value="" name="radishunit"></td>


                </tr>
                <tr class="jackfruit">
                    <td id="jackfruit">Jackfruit ( कटहल)</td>
                    <td><input value="" name="jackfruitprice"></td>
                    <td><input value="" name="jackfruitunit"></td>


                </tr>
                <tr class="ladyfinger">
                    <td id="ladyfinger">Lady Finger (भिन्डी )</td>
                    <td><input value="" name="ladyfingerprice"></td>
                    <td><input value="" name="ladyfingerunit"></td>


                </tr>
                <tr class="pointedgourd">
                    <td id="pointedgourd">Pointed Gourd (परवल, पटल)</td>
                    <td><input value="" name="pointedgourdprice"></td>
                    <td><input value="" name="pointedgourdunit"></td>


                </tr>
                <tr class="ridgedgourd">
                    <td>Ridged Gourd (तोरी, झींगी)</td>
                    <td><input value="" name="ridgedgourdprice"></td>
                    <td><input value="" name="ridgedgourdunit"></td>


                </tr>
                <tr class="peas">
                    <td id="peas">Peas (मटर )</td>
                    <td><input value="" name="peasprice"></td>
                    <td><input value="" name="peasunit"></td>


                </tr>
                <tr class="cucumber">
                    <td id="cucumber">Cucumber (खीरा)</td>
                    <td><input value="" name="cucumberprice"></td>
                    <td><input value="" name="cucumberunit"></td>


                </tr>
                <tr class="coriander">
                    <td id="coriander "> Coriander Leaf (हरा धनिया पत्ता)</td>
                    <td><input value="" name="corianderleafprice"></td>
                    <td><input value="" name="corianderleafunit"></td>


                </tr>

                <tr class="cauliflower">
                    <td id="cauliflower">Cauliflower ( फूल गोभी)</td>
                    <td><input value="" name="cauliflowerprice"></td>
                    <td><input value="" name="cauliflowerunit"></td>


                </tr>
                <tr class="carrot">
                    <td id="carrot"> Carrot ( गाजर )</td>

                    <td><input value="" name="carrotprice"></td>
                    <td><input value="" name="carrotunit"></td>


                </tr>
                <tr class="capsion">
                    <td id="capsion">Capsicum( शिमला मिर्च )</td>
                    <td><input value="" name="capsicumprice"></td>
                    <td><input value="" name="capsicumunit"></td>


                </tr>
                <tr class="cabbage">
                    <td id="cabbage"> Cabbage( पत्ता गोभी )</td>
                    <td><input value="" name="cabbageprice"></td>
                    <td><input value="" name="cabbageunit"></td>


                </tr>
                <tr class="brinjal">
                    <td id="brinjal">Brinjal ( बैगन)</td>
                    <td><input value="" name="brinjalprice"></td>
                    <td><input value="" name="brinjalunit"></td>


                </tr>
                <tr class="bottlegourd">
                    <td id="bottlegourd">Bottle Gourd ( लौकी,)</td>
                    <td><input value="" name="bottlegourd"></td>
                    <td><input value="" name="bottlegourd"></td>


                </tr>
                <tr class="bittergourd">
                    <td class="bittergourd"> Bitter Gourd ( करेला )</td>
                    <td><input value="" name="bittergourdprice"></td>
                    <td><input value="" name="bittergourdunit"></td>


                </tr>
                <tr class="wheat">
                    <td id="wheat">Wheat ( गेहूं )</td>
                    <td><input value="" name="wheatprice"></td>
                    <td><input value="" name="wheatunit"></td>


                </tr>
                <tr class="maize">
                    <td id="maize"> Maize ( मक्का)</td>
                    <td><input value="" name="maizeprice"></td>
                    <td><input value="" name="maizeunit"></td>


                </tr>
                <tr class="millet">
                    <td id="millet">Millet (बाजरा)</td>
                    <td><input value="" name="milletprice"></td>
                    <td><input value="" name="milletunit"></td>


                </tr>
                <tr class="oat">
                    <td id="oat">oat (जौ)</td>
                    <td><input value="" name="oatprice"></td>
                    <td><input value="" name="oatunit"></td>


                </tr>
                <tr class="rice">
                    <td id="rice">Rice(धान )</td>
                    <td><input value="" name="riceprice"></td>
                    <td><input value="" name="riceunit"></td>


                </tr>
                <tr class="greengram">
                    <td id="greengram">Green Gram (मूंग )</td>
                    <td><input value="" name="greengramprice"></td>
                    <td><input value="" name="greengramunit"></td>


                </tr>
                <tr class="blackgram">
                    <td id="blackgram">Black Gram ( उड़द )</td>
                    <td><input value="" name="blackgramprice"></td>
                    <td><input value="" name="blackgramunit"></td>


                </tr>
                <tr class="chickpeas">
                    <td id="chickpeas">Chickpeas ( चना)</td>
                    <td><input value="" name="chickpeasprice"></td>
                    <td><input value="" name="chickpeasunit"></td>


                </tr>
                <tr class="kidneybeans">
                    <td id="kidneybeans">Kidney Beans ( राजमा)</td>
                    <td><input value="" name="kidneybeansprice"></td>
                    <td><input value="" name="kidneybeansunit"></td>


                </tr>
                <tr class="pigeonpea">
                    <td id="pigeonpea">Pigeon Pea (अरहर)</td>
                    <td><input value="" name="pigeonpeaprice"></td>
                    <td><input value="" name="pigeonpeaunit"></td>


                </tr>
                <tr class="greenpeas">
                    <td id="greenpeas">Green Peas( हरी मटर)</td>
                    <td><input value="" name="greenpeasprice"></td>
                    <td><input value="" name="greenpeasunit"></td>


                </tr>
                <tr class="whitepeas">
                    <td id="whitepeas">White Peas (सफेद मटर )</td>
                    <td><input value="" name="whitepeasprice"></td>
                    <td><input value="" name="whitepeasunit"></td>


                </tr>
                <tr class="soybean">
                    <td id="soybean">Soybean ( सोयाबीन)</td>
                    <td><input value="" name="soyabeanprice"></td>
                    <td><input value="" name="soyabeanunit"></td>


                </tr>



                <tr class="mustard">
                    <td id="mustard">Mustard(सरसों)</td>
                    <td><input value="" name="mustardprice"></td>
                    <td><input value="" name="mustardunit"></td>


                </tr>
                
            </table>
            <p><button type="submit" id="btn">submit</button></p>
        </form>
        




    </div>
</body>

</html>