<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contect us</title>
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mandi-news-5a86b.appspot.com/o/css%2Fheader.css?alt=media&token=29997d95-68df-4bc7-9088-fb76913292c3">
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mandi-news-5a86b.appspot.com/o/css%2Fadd.css?alt=media&token=4e09f028-c178-4587-92db-b4b29b05c596">
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mandi-news-5a86b.appspot.com/o/css%2Fcontect.css?alt=media&token=e9a44ac4-3a91-4141-98bb-b1832a7e5f32">
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mandi-news-5a86b.appspot.com/o/css%2Ffooter.css?alt=media&token=40758826-7e5a-42e4-94a3-19f9658b7dd0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">


</head>
<body>
   {{>header}}
   {{>adsence}}
   <div class="conts">
       <p> <h1>For any query you can contect us without hesitation</h1></p>
       <p>Email: mandikhabar1@gmail.com</p>
       <p>Whatsapp:7895084676</p>
   </div> 
   {{>footer}}
</body>
</html>