<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> data</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/Update_File.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    {{>header}}
    <div id="Form">
        <form class="Form" action="/FileUpdate" method="POST">
            
            <input type="text" placeholder="path " name="file_name" id=" file_name">
            <input type="text" placeholder=" " name="data" value="" id="data">
           
            <button type="submit">submit</button>

        </form>
    </div>

    {{>footer}}


</body>

</html>