<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employee data</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    {{>header}}
    <div id="login">
        <form class="login" action="/data/empdetail" method="POST">
            <p>Enter Employee deta</p>
            <input type="text" placeholder="Enter CROP " name="crop" >
            <input type="number" placeholder="price " name="price" value="">
            <input type="text" placeholder="unit " name="unit" value="">
            <input type="password" placeholder="date" name="date" value="">
            <button type="submit">submit</button>

        </form>
    </div>

    {{>footer}}


</body>

</html>