<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aligarh District All Mandi|Mandikhabar </title>
    <meta name="keywords" content="Agra mandi news,
आज का मंडी भाव 2021,आज का मंडी भाव ">
    <meta name="description"
        content="आज का मंडी भाव:Aligarh, Atrauli,Fatehabad,Jagner,..Maize ( मक्का),Paddy(धान ),Mustard(सरसों),Garlic (लहशुन),Peanut(मूंगफली) ">
    <meta name="author" content="priyanshu">
    <link rel="stylesheet"
        href="../css/header.css">
    
    <link rel="stylesheet"
        href="../css/footer.css">
    <link rel="stylesheet"
        href="../css/totaldisticmandi.css">
    <link rel="stylesheet"
        href="../css/heading.css">
</head>

<body>
    {{>header}}
   
    {{>heading}}
    <div class="totaldisticmandi">
        <a href="https://mandikhabar.com/uttarpradesh/aligarh">
            <div class="districname" id="name1">Aligarh अलीगढ़ </div>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/atrauli">
            <div id="name2" class="districname"> Atrauli अतरौली</div>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/chharra">
            <div id="name3" class="districname">Chharra छर्रा</div>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/khair">
            <div id="name4" class="districname">Khair खैर </div>
        </a>
      
        
    </div>
    {{>footer}}
</body>

</html>