<!-- footer code-->
    
<footer>
   <nav ><div class="footerbox">
      <div id="about">

         <div class="item"><a href="https://mandikhabar.com/about"> About us</a></div>
         <div class="item"><a href="https://mandikhabar.com/contect">Contact us</a></div>
         <div class="item"><a href="https://mandikhabar.com/privacy">Privacy Policy</a></div>
         <div class="item"><a href="https://mandikhabar.com/signin">Login</a></div>
          <!--<div class="item"><a href="https://mandikhabar.com/feedback">Feedback</a></div> -->

      </div>
      

      </div>
      </div>


      <div class="copyright">Copyright Mandi News © 2021. All rights reserved.</div>




   </nav>
</footer>