<div>
  <p>  इस पोस्ट में आप {{data.author.mandiname}} मंडी में टमाटर (Tomato ), Carrot ( गाजर ),Capsicum( शिमला मिर्च ),Cabbage( पत्ता गोभी
    ),Brinjal ( बैगन),Bottle Gourd ( लौकी,),Bitter Gourd ( करेला ),टमाटर,Cucumber (खीरा),Cauliflower ( फूल गोभी),
    लहसुन,पीला आलू,सफेद आलू, प्याज,लाल आलू,Sweet Potato(शकरकंद ),हल्दी , अदरक, चना, एलोवेरा, धान, दाल, मक्का, सरसों,
    तुअर, धनिया, मुंग, लहसून, उड़द, मैथी, सोयाबीन,हरा प्याज गंठा, अजवाईन,पालक, तिल, Pumpkin (घिया, कद्दू ),खसखस, गेहुं,
    असालिया, चना, कलौैंजि, मसूर, सुआ, मटर, तारामिरा, Green Chilli ( हरी मिर्च),जीरा, अलसी, आमला, जौ, Radish (मूली),देसी
    चना, उड़द, धनिया, मूंगफली, इसबगोल, ज्वार, डॉलर Jackfruit ( कटहल)चना, मसूर, अलसी, मक्का, मैथी दाना, सरसों, तिल,
    सोयाबीन, तारामीरा Pointed Gourd (परवल, पटल),आदि सभी प्रकार की कमोडिटी जो {{data.author.mandiname}} मंडी में उपलब्ध है उसके सही
    ताज़ा भाव पता कर सकते है
  </p>
</div>