<!-- state box code-->
<link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mandi-news-5a86b.appspot.com/o/css%2Fstyle.css?alt=media&token=eb93b831-7db4-4d4a-aafb-3e34a9b82da4">
<div class="cantaner">
    <a href="https://us-central1-mandi-news-5a86b.cloudfunctions.net/app/distic">
        <div class="state" id="andhrapradesh">Andhra Pradesh Mandi News </div>
    </a>
    <a href="">
        <div class="state" id="arunachalpradesh">Arunachal Pradesh </div>
    </a>
    <a href="">
        <div class="state" id="assam">Assam Mandi News</div>
    </a>
    <a href=""></a>
    <div class="state" id="bihar">Bihar mandi News</div></a>
    <a href="">
        <div class="state" id="chhattisgarh">Chhattisgarh Mandi News</div>
    </a>
    <a href=""></a>
    <div class="state" id="delhi">Delhi Mandi News </div></a>
    <a href="">
        <div class="state" id="goa">Goa Mandi News</div>
    </a>
    <a href="">
        <div class="state" id="gujarat">Gujarat Mandi News</div>
    </a>
    <a href="">
        <div class="state" id="haryana">Haryana mandi News</div>
    </a>
    <a href="">
        <div class="state" id="himachalpradesh">Himachal Pradesh Mandi News</div>
    </a>
    <a href="">
        <div class="state" id="jharkhand">Jharkhand Mandi News</div>
    </a>
    <a href="">
        <div class="state" id="karnataka">karnataka Mandi News</div>
    </a>
    <a href="">
        <div class="state" id="kerala">Kerala Mandi News</div>
    </a>
    <a href="">
        <div class="state" id="madhyapradesh">Madhya Pradesh News</div>
    </a>
    <a href="">
        <div class="state" id="maharashtra">Maharashtra Mandi News</div>
    </a>
    <a href="">
        <div class="state" id="manipur">Manipur Mandi News</div>
    </a>
    <a href="">
        <div class="state" id="meghalaya">Meghalaya Mandi News</div>
    </a>
    <a href="">
        <div class="state" id="mizoram">Mizoram Mandi News</div>
    </a>
    <a href=""></a>
    <div class="state" id="nagaland">nagaland Mandi News</div></a>
    <a href=""></a>
    <div class="state" id="odisha">Odisha Mandi News</div></a>
    <a href=""></a>
    <div class="state" id="rajasthan">Rajasathan Mandi News</div></a>
    <a href=""></a>
    <div class="state" id="sikkim">Sikkim Mandi News</div></a>
    <a href=""></a>
    <div class="state" id="tamilnadu">Tamil Nadu Mandi News</div></a>
    <a href=""></a>
    <div class="state" id="telangana">Telangana Mandi News</div></a>
    <a href=""></a>
    <div class="state" id="tripura">Tripura Mandi News</div></a>
    <a href=""></a>
    <div class="state" id="uttrakhand">Uttakhand Mandi News</div></a>
    <a href="">
        <div class="state" id="uttarpradesh">Uttar Pradesh Mandi News</div>
    </a>
    <a href="">
        <div class="state" id="westbengal">West Bengal Mandi News</div>
    </a>
    <a href="">
        <div class="state">state name</div>
    </a>
    <a href=""></a>
    <div class="state">state name</div></a>
</div>