    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/mandi-news-5a86b.appspot.com/o/css%2Fheading.css?alt=media&token=6540e2b0-5aa6-4d3d-9f61-5fb6266d888f">
        <title>Document</title>
    </head>
    <body>
       <div class="totaldisticmandi">
         <a href="https://us-central1-mandi-news-5a86b.cloudfunctions.net/app/data/farrukhabadtable" > <div id="name1">Farrukhabad Navin Mandi </div></a>
          <a href=""> <div id="name2">mandi name2</div></a>
          <a href=""> <div id="name3">mandi name3</div></a>
          <a href=""> <div id="name4">mandi name4</div></a>
       </div> 
    </body>
    </html>