/*mandi heading*/
html{
    font-size: 62.5%;
}
.mandiheading{
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 100%;
    /*background-color: rgb(214, 198, 198);*/
    margin-top: .1rem;
    color: #000;
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: bold;
}
/*@media only screen and (max-width: 640px)  {
    html{
        font-size: 50%;
    
    }
    }
*/