


 






.navbar{
    display: flex;
    background-color: rgb(10, 165, 36);
   
   
    flex-direction: row;
margin-top: 0px;
width: 100%;
    
  }
  #uttarpradesh_link{
    height: 100%;
    width: 100%;
    border-width: .2rem;
border-style:  solid;
border-color: black;
}
p{ 
    font-size: 15px;
}
  .webname{
      display: flex;
      justify-content: center;
    font-size: 2rem;
    margin: 0rem;
    width: auto;
   
    background: rgb(10, 165, 36);;
}
  .navbar div{
  
    list-style: none; 
    padding: 1.3rem 2.0rem;
    font-size: 5.0rem;
    font-weight: bold;
    
    color: blanchedalmond;
    
}
.btn{
    margin: .1rem;
}

.navbar div a{
    text-decoration: none;
    padding: .13rem;
    margin: .1rem;
}
.navbar div a:hover {
    
    background: #fff;
    color: brown;
    
}

#search{
    
    color: rgb(207, 200, 200);
    /*padding: 1.2rem 2.5rem;*/
    width: 6rem;
    border-radius: .5rem;
}



.name{
    font: 3em sans-serif;
    padding-left: 40%;
}



  
  
.cantaner{
    
    width: 100%;
    /* height:100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
body{
    margin: 0px;
}
.cantaner a{
    text-decoration: none;
    background-color: rgb(136, 151, 165);
}
.state{
    height: 25.0rem;
    width: 30rem;
    background-color: bisque;
    margin: .3rem;
    text-align: center;
border-width: .2rem;
border-style:  solid;
border-color: black;
  font-size: 5rem;
  border-radius: .5rem; 
  
}


 

.data{
    font-size: 20px;
}
 /* media*/

 html{
    font-size: 62.5%;

}
@media only screen and (max-width:990px){
    html{
        font-size: 30%;

    }
    .navbar{
        display:flex;
        flex-wrap: wrap;
       
       font-size: 10px;

    }
    .btn a{
        font-size:40% ;
    }
    
    
}
@media only screen and (max-width:580px){
    html{
        font-size: 20%;
    }


   
}


@media only screen and (max-width:400px){
    html{
        font-size: 30%;
    }
.navbar{
    display: flex;
    flex-wrap: wrap;
}
.webname{
    font-size: 10px;
}

    
}
@media only screen and (max-width: 250px){
           
    html{
        font-size: 10%;
    }    
   
    .state{
       font-size: 15px;
       width: 150px;
    }
    .item a{
       font-size: 10px;
        
    }
}


.footerbox{
    
    background: #141414a4;
    height: 18rem;
    width: 100%;
    border-radius: .5rem;
}

#about{
    display:flex;
    flex-wrap: wrap;
    
    font-size: 3rem;
justify-content: center;
 color: white;

}


#about a{
    text-decoration: none;
    color: rgb(226, 208, 208);
    padding: 1rem;
}
    
.item{
    margin: .4rem;
    margin-top: 2.0rem;
    text-decoration: none;
    
}
#about a:hover{
    color: rgb(124, 103, 71);
    background: brown;
}
.copyright{
    display: flex;
    justify-content: center;
    
    height: 4.0rem;
    background-color: rgb(65, 63, 63);
    padding-top: 2rem;
}
.social{
    display: flex;
    justify-content: center;
    
    margin-top: 1.0rem;
}

