<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agra District All Mandi|Mandikhabar </title>
    <meta name="keywords" content="Agra mandi news,
आज का मंडी भाव 2021,आज का मंडी भाव ">
    <meta name="description"
        content="आज का मंडी भाव:Agar, Achhnera,Fatehabad,Jagner,..Maize ( मक्का),Paddy(धान ),Mustard(सरसों),Garlic (लहशुन),Peanut(मूंगफली) ">
    <meta name="author" content="priyanshu">
    <link rel="stylesheet"
        href="../css/header.css">
    
    <link rel="stylesheet"
        href="../css/footer.css">
    <link rel="stylesheet"
        href="../css/totaldisticmandi.css">
    <link rel="stylesheet"
        href="../css/heading.css">
</head>

<body>
    {{>header}}
   
    {{>heading}}
    <div class="totaldisticmandi">
        <a href="https://mandikhabar.com/uttarpradesh/agra">
            <div class="districname" id="name1">Agra आगरा </div>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/achhnera">
            <div id="name2" class="districname"> Achhnera अछनेरा</div>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/fatehabad">
            <div id="name3" class="districname">Fatehabad फतेहाबाद</div>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/fatehpurSikri">
            <div id="name4" class="districname">Fatehpur Sikri फतेहपुर सीकरी </div>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/jagner">
            <div id="name4" class="districname">Jagner जगनेर</div>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/jarar">
            <div id="name4" class="districname">Jarar जरार</div>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/khairagarh">
            <div id="name4" class="districname">Khairagarh खैरागढ़</div>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/shamshabad">
            <div id="name4" class="districname">Shamshabad शमशाबाद</div>
        </a>
    </div>
    {{>footer}}
</body>

</html>