<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <div class="uttarpradesh">
    <div class="agra">
      <H1>Agra</H1>
      <ul>
        <a href="https://mandikhabar.com/uttarpradesh/agra@4556">
          <li>Agra</li>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/achhnera@4541">
          <li>Achhnera</li>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/fatehabad@4512">
          <li>Fatehabad</li>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/fatehpursikri@4513">
          <li>Fatehpur Sikri</li>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/jagner@1289">
          <li>Jagner </li>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/jarar@4567">
          <li>Jarar</li>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/khairagarh@7865">
          <li>Khairagarh</li>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/shamshabad@4589">
          <li>Shamshabad</li>
        </a>
      </ul>
    </div>
    <div class="agra">
      <H1>Aligarh</H1>
      <ul>
        <a href="https://mandikhabar.com/uttarpradesh/Aligarh@4056">
          <li>Aligarh</li>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/chharra@%129">
          <li>Chharra</li>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/khair@246%">
          <li>khair</li>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/Atrauli@167">
          <li>Atrauli</li>
        </a>
       
      </ul>
    </div>
    <div class="farrukhabad"></div>
    <H1>Farrukhabad</H1>
    <ul>
      <a href="https://mandikhabar.com/uttarpradesh/farrukhabad@3412">
        <li>Farrukhabad</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/kamalganj@8240">
        <li>Kamalganj</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/kaimganj@1267">
        <li>Kaimganj</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh//mohammadabad@5634">
        <li>Mohammadabad</li>
      </a>
    </ul>
  </div>
  <div class="farrukhabad"></div>
  <H1>Ambedkar Nagar</H1>
  <ul>
    <a href="https://mandikhabar.com/uttarpradesh/tandaAkhar@769">
      <li>tandaAkharpur</li>
    </a>
    <a href="https://mandikhabar.com/uttarpradesh/Akbarpur@405">
      <li>Akbarpur</li>
    </a>

  </ul>
  </div>
  <div class="farrukhabad"></div>
  <H1>Amethi</H1>
  <ul>
    <a href="https://mandikhabar.com/uttarpradesh/jafarganj@405">
      <li>Jafarganj</li>
    </a>
    <a href="https://mandikhabar.com/uttarpradesh/jais@69">
      <li>Jais</li>
    </a>

  </ul>
  </div>
  <div class="Auraiya"></div>
  <H1>Auraiya</H1>
  <ul>
    <a href="https://mandikhabar.com/uttarpradesh/Auraiya@4056">
      <li>Auraiya</li>
    </a>
    <a href="https://mandikhabar.com/uttarpradesh/achhalda@7698">
      <li>Achhalda</li>
    </a>
    <a href="https://mandikhabar.com/uttarpradesh/dibiyapur@1299">
      <li>Dibiyapur</li>
    </a>
  </ul>
  </div>
  <div class="Ayodhya"></div>
  <H1>Ayodhya</H1>
  <ul>
    <a href="https://mandikhabar.com/uttarpradesh/Ayodhya@40533">
      <li>Ayodhya</li>
    </a>
    <a href="https://mandikhabar.com/uttarpradesh/Rudauli@69">
      <li>Rudauli</li>
    </a>

  </ul>
  </div>
  <div class="agra">
    <H1>Badayun</H1>
    <ul>
      <a href="https://mandikhabar.com/uttarpradesh/Badayun@456">
        <li>Badayun</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/bilsi@4541">
        <li>Bilsi</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/bisauli@4512">
        <li>Bisauli</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/dataganj@451">
        <li>Dataganj</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/islamnagar@1282">
        <li>Islamnagar </li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/sahaswan@456734">
        <li>Sahaswan</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/ujhani9@7865">
        <li>Ujhani</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Wazirganj@4589">
        <li>Wazirganj</li>
      </a>
    </ul>
  </div>
  <div class="Kannauj">
    <H1>Azamgarh</H1>
    <ul>
      <a href="https://mandikhabar.com/uttarpradesh/Azamgarh@40533">
        <li>Azamgarh</li>
      </a>

    </ul>
  </div>

  <div class="Kannauj"></div>
  <H1>Kannauj</H1>
  <ul>
    <a href="https://mandikhabar.com/uttarpradesh/kannauj@0083">
      <li>Kannauj</li>
    </a>
    <a href="https://mandikhabar.com/uttarpradesh/chhibramau@783">
      <li>Chhibramau</li>
    </a>

  </ul>
  </div>
  <div class="Kannauj"></div>
  <H1>Baghpat</H1>
  <ul>
    <a href="https://mandikhabar.com/uttarpradesh/baraut@40533">
      <li>Baraut</li>
    </a>
    <a href="https://mandikhabar.com/uttarpradesh/khekra@694">
      <li>Khekra</li>
    </a>

  </ul>
  </div>


  <div class="agra">
    <H1>Bahraich</H1>
    <ul>
      <a href="https://mandikhabar.com/uttarpradesh/bahraich@4056">
        <li>Bahraich</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Mihipurwa2@768">
        <li>Mihipurwa</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Nanpara@129">
        <li>Nanpara</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Risia@246">
        <li>Risia</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Rupaidiha@246">
        <li>Rupaidiha </li>
      </a>

    </ul>
  </div>

  <div class="agra">
    <H1>Baliya</H1>
    <ul>
      <a href="https://mandikhabar.com/uttarpradesh/Baliya@4056">
        <li>Baliya</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Rasra@7698">
        <li>Rasra</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/BiltharaRoad@129">
        <li>BiltharaRoad</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Chitbaragaon@246">
        <li>Chitbaragaon</li>
      </a>


    </ul>
  </div>
  <div class="agra">
    <H1>Balrampur</H1>
    <ul>
      <a href="https://mandikhabar.com/uttarpradesh/Balrampur@4056">
        <li>Balrampur</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Utraula@7698">
        <li>Utraula</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Pachperwa@129">
        <li>Pachperwa</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Tulsipur@246">
        <li>Tulsipur</li>
      </a>


    </ul>
  </div>

  <div class="agra">
    <H1>Banda</H1>
    <ul>
      <a href="https://mandikhabar.com/uttarpradesh/Banda@4056">
        <li>Banda</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Atarra@7698">
        <li>Atarra</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Baberu@1299">
        <li>Baberu</li>
      </a>



    </ul>
  </div>
  <div class="Kannauj"></div>
  <h1>Barabanki</h1>
  <ul>
    <a href="https://mandikhabar.com/uttarpradesh/Barabanki@40533">
      <li>Barabanki</li>
    </a>
    <a href="https://mandikhabar.com/uttarpradesh/Safdarganj@69">
      <li>Safdarganj</li>
    </a>

  </ul>
  </div>
  <div class="agra">
    <H1>Bareilly</H1>
    <ul>
      <a href="https://mandikhabar.com/uttarpradesh/Anwla@7698">
        <li>Anwla</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Bareilly@4056">
        <li>Bareilly</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Baberu@1299">
        <li>Baheri</li>
      </a>

    </ul>
  </div>
  <H1>Basti</H1>
  <div class="Kannauj">
    <ul>
      <a href="https://mandikhabar.com/uttarpradesh/Basti@40533">
        <li>Basti

        </li>
      </a>

    </ul>
  </div>
  <div class="agra">
    <H1>Bijnor</H1>
    <ul>
      <a href="https://mandikhabar.com/uttarpradesh/Bijnor@456">
        <li>Bijnor</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Chandpur@4541">
        <li>Chandpur</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Dhampur@4512">
        <li>Dhampur</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Haldaur@451">
        <li>Haldaur</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Kiratpur@1282">
        <li>Kiratpur </li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Nagina@456734">
        <li>Nagina</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Najibabad9@7865">
        <li>Najibabad</li>
      </a>

    </ul>
  </div>
  <div class="agra">
    <H1>Bulandshahar</H1>
    <ul>
      <a href="https://mandikhabar.com/uttarpradesh/Bulandsahar@456">
        <li>Bulandshahar</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Anupshahar@4541">
        <li>Anupshahar</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Bhikarpur@4512">
        <li>Bhikarpur</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Dibai@451">
        <li>Dibai</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Gulaothi@1282">
        <li>Gulaothi </li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Jahangirabad@456734">
        <li>Jahangirabad</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Khurja9@7865">
        <li>Khurja</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Siana@4589">
        <li>Siana</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Sikandrabad@4589">
        <li>Sikandrabad</li>
      </a>
      <a href="https://mandikhabar.com/uttarpradesh/Shikarpur@4589">
        <li>Shikarpur</li>
      </a>
    </ul>
  </div>
  <div class="Kannauj">
    <H1>Chandauli</H1>
    <ul>
      <a href="https://mandikhabar.com/uttarpradesh/Chandauli@40533">
        <li>Chandauli

        </li>
      </a>

    </ul>
    <div class="Kannauj">
      <ul>
        <a href="https://mandikhabar.com/uttarpradesh/Karwi@40533">
          <li>Karwi
          </li>
        </a>
        <a href="https://mandikhabar.com/uttarpradesh/Karwi@40533">
          <li>Karwi
          </li>
        </a>

      </ul>
      <div class="Kannauj">
        <H1>Devariya</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Devariya@40533">
            <li>Devariya

            </li>
          </a>
      </div>
      </ul>
      <div class="agra">
        <H1>Etah</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Etah@4056">
            <li>Etah</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Aliganj@7698">
            <li>Aliganj</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Avagarh@1299">
            <li>Avagarh</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Etawah</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Etawah@4056">
            <li>Etawah</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Bharthana@7698">
            <li>Bharthana</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Jaswantnagar@1299">
            <li>Jaswantnagar</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Fatehpur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Fatehpur@4056">
            <li>Fatehpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Bindki@768">
            <li>Bindki</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Jahanabad@129">
            <li>Jahanabad</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Khaga@246">
            <li>Khaga</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Kishanpur@246">
            <li>Kishanpur</li>
          </a>


        </ul>
      </div>
      <div class="agra">
        <H1>Firozabad</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Firozabad@4056">
            <li>Firozabad</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Tundla@7698">
            <li>Tundla</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Shikohabad@129">
            <li>Shikohabad</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Sirsaganj@246">
            <li>Sirsaganj</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Gautam buddh Nagar</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Dadri@4056">
            <li>Dadri</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Noida@7698">
            <li>Noida</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Dankaur@129">
            <li>Dankaur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Jewar@246">
            <li>Jewar</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Gaziabad</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Gaziabad@4056">
            <li>Gaziabad</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Hapur@7698">
            <li>Hapur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Muradnagar@1299">
            <li>Muradnagar</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Gazipur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Jamania@4056">
            <li>Jamania</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Yusufpur@7698">
            <li>Yusufpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Jangipur@129">
            <li>Jangipur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Saidpur@246">
            <li>Saidpur</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Gonda</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Gonda@40533">
            <li>Gonda</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Nawabganj@69">
            <li>Nawabganj</li>
          </a>


        </ul>
      </div>
      <div class="agra">
        <H1>Gorakhpur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Gorakhpur@4056">
            <li>Gorakhpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Chaurichaura@7698">
            <li>Chaurichaura</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Sahjanwa@1299">
            <li>Sahjanwa</li>
          </a>

        </ul>
      </div>
      <div class="agra">

        <ul>
          <H1>Hamirpur</H1>
          <a href="https://mandikhabar.com/uttarpradesh/Bharuasumerpur@4056">
            <li>Bharuasumerpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Kurara@768">
            <li>Kurara</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Maudaha@129">
            <li>Maudaha</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Muskura@246">
            <li>Muskura</li>
          </a>
         
          <a href="https://mandikhabar.com/uttarpradesh/Rath@246">
            <li>Rath</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Hardoi</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Hardoi@4056">
            <li>Hardoi</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Madhoganj2@768">
            <li>Madhoganj</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Sandi@129">
            <li>Sandi</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Sandila@246">
            <li>Sandila</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Shahabadhardoi@246">
            <li>Shahabadhardoi</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Hathras</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Hathras@4056">
            <li>Hathras</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Sadabad@7698">
            <li>Sadabad</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/SikandraRao@1299">
            <li>SikandraRao</li>
          </a>


        </ul>
      </div>
      <div class="agra">
        <H1>Jalaun</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Jalaun@456">
            <li>Jalaun</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Ait@4541">
            <li>Ait</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Kadaura@4512">
            <li>Kadaura</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Kalpi@451">
            <li>Kalpi</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Konch@1282">
            <li>Konch</li>
          </a>

          <a href="https://mandikhabar.com/uttarpradesh/Madhogarh@456734">
            <li>Madhogarh</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Urai9@7865">
            <li>Urai</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Madhogarh@456734">
            <li>Madhogarh</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Jaunpur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Jaunpur@4056">
            <li>Jaunpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Shahganj@7698">
            <li>Shahganj</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Mungrabadshahpur@1299">
            <li>Mungrabadshahpur</li>
          </a>

        </ul>
      </div>

      <div class="agra">
        <H1>Jhasi</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Jhasi@456">
            <li>Jhasi</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Baruasagar@4541">
            <li>Baruasagar</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Gursarai@4512">
            <li>Gursarai</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Moth@1282">
            <li>Moth</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Mauranipur@451">
            <li>Mauranipur</li>
          </a>

          <a href="https://mandikhabar.com/uttarpradesh/Chirgaon@456734">
            <li>Chirgaon</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Jyotibaphule Nagar</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Amroha@4056">
            <li>Amroha</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Dhanaura@129">
            <li>Dhanaura</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Hasanpur@246">
            <li>Hasanpur</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Kanpur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Kanpur@4056">
            <li>Kanpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Baripal@7698">
            <li>Baripal</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Chaubepur@129">
            <li>Chaubepur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Uttaripura@246">
            <li>Uttaripura</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Kanpur Dehat</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Jhinjhak@4056">
            <li>Jhinjhak</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Pukhrayan@129">
            <li>Pukhrayan</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Rura@246">
            <li>Rura</li>
          </a>

          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>KanshiramNagar</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Kasganj@40533">
            <li>Kasganj</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/GanjDudwara@69">
            <li>GanjDudwara</li>
          </a>


          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Kaushambi</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Ajuha@4056">
            <li>Ajuha</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Bharwari@129">
            <li>Bharwari</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Manjhanpur@246">
            <li>Manjhanpur</li>
          </a>

          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>KushiNagar</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/KushiNagar@40533">
            <li>KushiNagar</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Lakhimpur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Lakhimpur@456">
            <li>Lakhimpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Golagokarnnath@4541">
            <li>Golagokarnnath</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Maigalganj@4512">
            <li>Maigalganj</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Mohamadi@451">
            <li>Mohamadi</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Paliakalan@1282">
            <li>Paliakalan</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Tikonia@456734">
            <li>Tikonia</li>
          </a>


        </ul>
      </div>
      <div class="agra">
        <H1>Lalitpur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Lalitpur@40533">
            <li>Lakhimpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Mahroni@69">
            <li>Mahroni</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Maharajganj</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Anandnagar@4056">
            <li>Anandnagar</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Partawal@7698">
            <li>Partawal</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Garaura@129">
            <li>Garaura</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Nautanwa@246">
            <li>Nautanwa</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Mahoba</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Mahoba@4056">
            <li>Mahoba</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Panwari@7698">
            <li>Panwari</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Chakhari@1299">
            <li>Chakhari</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Mainpuri</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Mainpuri@4056">
            <li>Mahoba</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Ghiror@7698">
            <li>Ghiror</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Bewar@1299">
            <li>Bewar</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Mathura</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Mathura@40533">
            <li>Mathura</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Kosikalan@69">
            <li>Kosikalan</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Mau</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Dohright@246">
            <li>Dohrighat</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Kopaganj@129">
            <li>Kopaganj</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Meerut</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Meerut@4056">
            <li>Meerut</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Sardhana@7698">
            <li>Sardhana</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Mawana@129">
            <li>Mawana</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Parikshitgarh@246">
            <li>Parikshitgarh</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Mirzapur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Mirzapur@40533">
            <li>Mirzapur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Ahiraura@69">
            <li>Ahiraura</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Moradabad</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Moradabad@4056">
            <li>Moradabad</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Sambhal@7698">
            <li>Sambhal</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Bahjoi@129">
            <li>Bahjoi</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Chandausi@246">
            <li>Chandausi</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Muzaffarnagar</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Muzaffarnagar@456">
            <li>Muzaffarnagar</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Kairana@4541">
            <li>Kairana</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Kandhla@4512">
            <li>Kandhla</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Khatauli@451">
            <li>Khatauli</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Shahpur@1282">
            <li>Shahpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Shamli@456734">
            <li>Shamli</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Thanabhawan9@7865">
            <li>Thanabhawan</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Pilibhit</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Pilibhit@4056">
            <li>Pilibhit</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Puranpur@7698">
            <li>Puranpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Bisalpur@1299">
            <li>Bisalpur</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Pratapgarh</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Pratapgarh@40533">
            <li>Pratapgarh</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Prayagraj</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Prayagraj@4056">
            <li>Prayagraj</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Sirsa@7698">
            <li>Sirsa</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Jasra@129">
            <li>Jasra</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Leriyari@246">
            <li>Leriyari</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Raibaraily</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Raibaraily@4056">
            <li>Prayagraj</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Salon@7698">
            <li>Salon</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Lalganj@129">
            <li>Lalganj</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Bachhrawan@246">
            <li>Bachhrawan</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Rampur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Bilaspur@4056">
            <li>Bilaspur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Rampur2@768">
            <li>Rampur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Shahabadrampur@129">
            <li>Shahabadrampur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Tandarampur@246">
            <li>Tandarampur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Milak@246">
            <li>Milak</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Saharanpur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Saharanpur@456">
            <li>Saharanpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Chhutmalpur@4541">
            <li>Chhutmalpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Shahabadrampur@129">
            <li>Shahabadrampur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Deoband@4512">
            <li>Deoband</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Gangoh@451">
            <li>Gangoh</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Nakur@1282">
            <li>Nakur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Nanota@456734">
            <li>Nanota</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Sulatanpurchilana9@7865">
            <li>Sulatanpurchilana</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Rampurmaniharan@4589">
            <li>Rampurmaniharan</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>SantKabirNagar</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/SantKabirNagar@40533">
            <li>Khaliabad</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>SantRavidasNagar</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/SantRavidasNagar@40533">
            <li>Gopiganj</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Shahjahanpur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Shahjahanpur@4056">
            <li>Shahjahanpur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Jalalabad2@768">
            <li>Jalalabad</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/MeeranpurKatra@129">
            <li>MeeranpurKatra</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Powayan@246">
            <li>Powanyan</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Tilhar@246">
            <li>Tilhar</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Shravasti</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Shravasti@40533">
            <li>Payagpur</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Siddharth Nagar</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Sahiyapur@4056">
            <li>Sahiyapur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Naugarh2@768">
            <li>Naugarh</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Shohratgarh@246">
            <li>Shohratgarh</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Bansi@246">
            <li>Bansi</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Sitapur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Sitapur@456">
            <li>Sitapur</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Biswan@4541">
            <li>Biswan</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Hargaon@4512">
            <li>Hargaon</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Mahmudabad@451">
            <li>Mahmudabad</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Maholi@1282">
            <li>Maholi</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Mishrit@456734">
            <li>Mishrit</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Sidhauli9@7865">
            <li>Sidhauli</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Sonbhadra</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Dudhi@40533">
            <li>Dudhi</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Robertsganj@69">
            <li>Robertsganj</li>
          </a>

        </ul>
      </div>
      <div class="agra">
        <H1>Sultanpur</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Sultanpur@40533">
            <li>Sultanpur</li>
          </a>


        </ul>
      </div>
      <div class="agra">
        <H1>Unnao</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Unnao@4056">
            <li>Unnao</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Purwa@7698">
            <li>Purwa</li>
          </a>
          <a href="https://mandikhabar.com/uttarpradesh/Bangarmau@1299">
            <li>Bangarmau</li>
          </a>
        </ul>
      </div>
      <div class="agra">
        <H1>Varanasi</H1>
        <ul>
          <a href="https://mandikhabar.com/uttarpradesh/Varanasi@40533">
            <li>Varanasi</li>
          </a>


        </ul>
      </div>
</body>

</html>